.img-logo-center {
  width: 310px;
  height: 284px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tittle-primary-color {
  color: #007bff;
}